/* Form */
.form-container{
    min-width: 350px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(208, 208, 208);
    border-radius: 15px;
}

input{
    height:40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(238, 238, 238);
    padding-left: 20px;
}

input[type="reset"]{
    height:40px;
}

label{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(74, 74, 74);
}

button{
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background-color: #1676d0;
}

.main{
    margin-top: 100px;
}

.form-group{
    margin: 25px;
}

.btn-primary{
    background-color: #2091F9;
    color: white;
}

/* Table */
#table{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

th, td{
    border: .5px solid rgb(216, 216, 216);
    padding: 20px;
}

th{
    background-color: #2091F9;
    color: white;
    padding: 20px;
}


tr:nth-child(even){
    background-color: rgb(242, 242, 242);
}

tr:hover{
    background-color: rgb(249, 249, 249);
}

i{
    cursor: pointer;
    font-size: 20px;
}

.table-head-1{
    width: 40%;
}